@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: radial-gradient(circle closest-side, #4D504A 8%, #3E3F3E 24%, #2F2E31 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.AppImage {
  position: absolute;
  top: 0;
  left: 50%; /* Центрируем по горизонтали */
  transform: translateX(-50%); /* Подтягиваем на 50% ширины изображения, чтобы оно стало идеально по центру */
  width: 200px; /* Размер изображения можно настроить по необходимости */
  height: auto; /* Сохраняем пропорции изображения */
  object-fit: cover; /* Заполнение изображения без искажения */
}

.App {
  text-align: center;
}

h1 {
  color: #00B37C;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  position: relative;
  margin-top: -15rem;
  padding: 2rem;
  background-color: #2D2C2F;
  opacity: 0.8;
  border-radius: 5px;
  width: 100%;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #00B37C;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #00B37C;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #77AE89;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 